*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;

}

body{
    background-color:rgb(138, 81, 252) ;
}

.logo{
    width: 300px;
    display: block;
    margin: 20px  auto;
}

main{
    width: 375px;
    background-color: #F4F4F4;
    border-radius: 20PX;
    margin: 0 auto;
    padding: 38px 24px 23px;
}

label{
color: #777777;
font-weight: 700;
font-size: 14px;
}

select{
    background-color: #FFFFFF;
    height: 48px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}
input{
    font-weight: 700;
    font-size: 16px;
    height: 48px;
    width:100%;
    color: #777777;
    font-weight: 700;
}

button{
    background-color: #772FD3;
    height: 48px;
    width: 100%;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-top: 48px;
    margin-top: 28px;
}

button:hover{
    opacity: 0.8;
}
button:active{
    opacity: 0.6;
}
.logo-real{
    width: 80px;
}

section{
    border-radius: 20px;
    border: 1px solid #772FD3;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.arrow{
    margin: 15px 0;
}
.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}